// This started as copy of the daux-blue theme

// Daux.io Blue
@sidebar-background: #f7f7f7;
@sidebar-hover: #c5c5cb;
@lines: #e7e7e9;
@dark: #3f4657;
@light: #0078be;
@text: #2d2d2d;

// Daux.io Base
@import "theme.less";

body {
    font-family: @font-family-text;
}

.Brand {
    background-color: #222;
    color: #fff;
}

.Pager {
    margin: 30px 0 10px;
}

.breadcrumbs {
    margin-top: 25px;
}

.edit_on {
    float: right;
    font-size: 12px;
    color: gray;
}

.s-content {
    h2 {
        margin-top: 25px;
    }

    a {
        text-decoration: none;
    }

    table {
        margin-top: 15px;
        margin-bottom: 15px;
    }
}

.disqus-separator {
    margin: 15px 0 20px;
}

.SearchResults {
    .SearchResults__title,
    .SearchResults__url,
    .SearchResults__text,
    .SearchResults__warning {
        font-weight: normal;

        a {
            color: @light;
        }
    }

    .SearchResults__highlight {
        font-weight: normal;
        background: lighten(@light, 50%);
    }
}

